h2 {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-align: center;
  margin: 0 0 2em 0;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 6em;
  text-align: center;
  margin: .5em 0 0 0;
}
  
main {
  padding: 8em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
main section {
  text-align: center;
}

main a {
  padding: .5em 1em;
  margin: 0 0.5em;
  list-style-position: outside;
  border: 2px solid;
  border-color: rgb(10, 10, 10);
  color: rgb(10, 10, 10);
  border-radius: 6px;
}
  
main a:hover {
  padding: .5em 1em;
  margin: 0 0.5em;
  list-style-position: outside;
  background-color: rgb(206, 198, 202);
  border-radius: 6px;
}
  
img {
  height: 340px;
  border-radius: 50%;
}